/*import fonts from Google fonts>*/
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

/* css reset */
 *{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
 }

 /*default styles for whole page*/
 body{
    color: rgb(3, 51, 14);
    border-color: rgb(0, 0, 0);
    background-color: #f7f1dd;
 }


 /* content contianer to centre content */
 .container {
    max-width: 1020px;
    margin: 0 auto o auto;

 }

 /* Default styling for Headings */
 h1,h2,h3,h4,h5,h6 {
    font-family: Monika, tall and slim;
    line-height: 1.1;
    font-weight: 700;
 }

 .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 .navbar li {
    float: left;
  }
  
 .navbar li a {
    display: block;
    color: rgb(242, 239, 204);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 .navbar li a:hover {
    background-color: #111;
  }
 

     /*specific styles*/
         h1 {
            font-size: 4.25rem;
                margin-bottom: 2rem;
                   font-weight: 900;
 }

 
 

 /*specific styles*/
h1 {
    font-size: 4.25rem;
    margin-bottom: 2rem;
    }
    h2 {
    font-size: 2.25rem;
    margin-bottom: .5rem;
    }
    
 h3 {
     font-size: 2rem;
    margin-bottom: 0.5rem;
     }
    h4 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
     }


   /* Paragraphs */
p {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 400;
line-height: 1.5;
font-size: 1.125rem;
margin-bottom: 1.5rem;
font-style: normal;
}

/*paragraph large */
p.large {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-style: italic;
    line-height: 1.5;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    }
    
    
ul {
        list-style: disc outside;
        margin-bottom: 1.5rem;
        margin-left: 1.25rem;
        }
        ul li {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        line-height: 1.5;
        font-size: 1.125rem;
        margin-bottom: .5rem;
        }

        /* hyperlinks */
a {
    font-family:inherit;
    font-size:inherit;
    line-height: inherit;
    color: #5c0802;
    }
    
a:hover {
 color:#04521b;
 }
a:visited {
color:#025f22;
 }

/* images*/
img {
    max-width: 1020px;
    width:100%;
    height:auto;
    border:1px solid #101010;
    margin-bottom: 2rem;
    }
    
    /*blockquote*/
figure.quote {
    border-left: 8px solid #027f45;
    padding:1.5rem 0 1.5rem 2rem;
    margin-bottom: 2rem;
    }

figure.quote p{
 margin-bottom:0;
 }
 figure.quote blockquote {
 margin-bottom:.5rem;
 }
 figure.quote figcaption p{
 font-weight:700;
  }

footer {
padding: 1.5rem 0 1.5rem 0;
margin-top:2rem;
border-top:1px solid #101010;
color: #025f22;
}

main{
    margin-bottom: 2.5rem;
    }

    header{
    
        padding:1.5rem 0;
        }
        header p.logo{
        font-weight: 700;
        margin-bottom:0;
        font-size:1.75rem;
        line-height: 1.1;
        }

        .colour-block{
            padding:3rem 0 3rem 0;
            background-color:#fffbec;
            margin-bottom:2.5rem;
            }
            
            .highlight {
                background-color: #088505;
                padding:0 0.5rem;
                }
                
                
/* images*/
img { 
    
    max-width: 1020px;
    width:100%;
    height:auto;
    border:1px solid #101010;
    margin-bottom: 2rem;
    }
    


       
      
       
     

